
<div ng-controller="lecturerCoursePageController as lecturerPageCtrl">
    <h3 align ="left" style="margin-left:30px; margin-top:-90px;"> Course name:&nbsp;&nbsp;&nbsp; {{lecturerPageCtrl.courseName}}&nbsp;&nbsp;&nbsp;{{ lecturerPageCtrl.courseNumber}} </h3>
    <section id="contact">
        <div class="container" style="margin-top:-50px">
            <h5 class="text-center text-uppercase text-secondary mb-0">Send a message to all the students</h5>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form name="sentMessage" novalidate="novalidate" ng-submit="lecturerPageCtrl.sendAMesssage()">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Message</label>
                                <textarea class="form-control" id="message" rows="3" cols="50"  background-color="red" placeholder="Message" ng-model="lecturerPageCtrl.Message"
                                          required="required" data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <h5 ng-show="lecturerPageCtrl.messageSentSuccessfully">{{lecturerPageCtrl.sentMessage}}</h5>
                            <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!---
    </br>Search
    <input type="search" class="input-course" ng-model="q" placeholder="filter files..." aria-label="filter friends" />
    </br>
    </br>
    <ul >
        <div class="animate-repeat" ng-repeat="file in coursePageCtrl.files | filter:q as results track by file.fileName ">
            <div class="div-file-display" style=" width: 300px; float: left;" ng-click="coursePageCtrl.openFile(file.fileURL)">
                <img src="{{coursePageCtrl.image}}"  alt="" height="100" style="text-align: center"/>
                <h3 style="font-weight: bold">{{file.fileName}}</h3>
            </div>
        </div>
        <a class="animate-repeat" ng-if="results.length === 0">
            <strong>No results found...</strong>
        </a>
    </ul>


</div>
 -->
