<div class="container" ng-controller="LoginController as loginCtrl" >
    <!--<h2 class="text-center text-uppercase text-secondary mb-0">Login</h2>-->
    <h3>Login</h3>
</br>
    <div class="row">
        <div class="mx-auto" >

            <form method="post" name="loginForm" id="loginForm" ng-submit="loginCtrl.login(loginForm.$valid)">
                <div class="control-group">
                    <div class="    floating-label-form-group controls mb-0 pb-2" ng-class="{ 'has-error': loginForm.username.$dirty && loginForm.username.$error.required }">
                        <!--<label for="username">Username</label>-->
                        <input type="text" name="username" id="username"
                               ng-model="loginCtrl.user.username" placeholder="enter name" required/>

                    </div>
                    <span ng-show="loginForm.username.$dirty && loginForm.username.$error.required"
                                class="help-block">Username is required</span>
                </div>
                </br>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2" ng-class="{ 'has-error': loginForm.password.$dirty && loginForm.password.$error.required }">
                        <!--<label for="password">Password</label>-->
                        <input type="password" name="password" id="password"
                               ng-model="loginCtrl.user.password" ng-required="true" placeholder="enter password" required/>

                    </div>
                    <span ng-show="loginForm.password.$dirty && loginForm.password.$error.required"
                                class="help-block">Password is required</span>
                </div>

                <div class="form-group">
                    </br>
                    <button type="submit" ng-disabled="loginForm.$invalid || loginCtrl.dataLoading" class="btn btn-primary" id="sendMessageButton">Continue</button>
                </div>
                <span ng-show="loginCtrl.wrongDetails"
                      class="help-block">Wrong log in details!</span>
            </form>
        </div>
    </div>
</div>
