

<div ng-controller="homeController as homeCtrl" style="margin-top: -90px;  " >
    <h3> Hello {{homeCtrl.name}},</h3>
    <h3> You have {{homeCtrl.courses.length}} courses</h3>
    </br>Search
    <input type="search" class="input-course" ng-model="q" placeholder="filter courses..." aria-label="filter friends" />
    </br>
    </br>
    <ul style="align:center" >
        <div style="margin-left: 12%" class="animate-repeat" ng-repeat="course in homeCtrl.courses | filter:q as results track by course.courseNumber && course.courseName" >
            <div class="div-course-display" style=" width: 600px; float: left;  "  ng-click="homeCtrl.openCoursePage(course._id,course.courseName,course.courseNumber)">
                <img src="{{homeCtrl.image}}"  alt="" height="70" style="text-align: center"/>
                <h5 style="font-weight: bold">{{course.courseName}}</h5>
                <h5 style="font-weight: bold">{{course.courseNumber}}</h5>

                <p >{{course.courseNumber}} </p>
                <span  ><b>First exam period:</b> {{course.courseTestDateFirst |date : "medium"}} </span>
                </br>
                <span><b>     Second exam period:</b> {{course.courseTestDateSecond |date : "medium"}}</span>
            </div>
        </div>
        <a class="animate-repeat" ng-if="results.length === 0">
            <strong>No results found...</strong>
        </a>
    </ul>

</div>